
<div id="ModuloCursoCreateEditContainer">

    <div class="row">

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Datos del Modulo</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="txtCodigo">Codigo</label>
                                <input type="text" class="form-control" id="txtCodigo" name="txtCodigo" placeholder="Codigo" data-bind="value: modulos.ModId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="txtModuloNivel">Nivel del Modulo</label>
                                <input type="text" class="form-control" id="txtModuloNivel" name="txtModuloNivel" placeholder="Nivel del Modulo" data-bind="value: modulos.ModNivel">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="txtModuloCategoria">Categoria del Modulo</label>
                                <input type="text" class="form-control" id="txtModuloCategoria" name="txtModuloCategoria" placeholder="Categoria del Modulo" data-bind="value: modulos.ModCategroria">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="txtModuloNombre">Nombre del Modulo</label>
                                <input type="text" class="form-control" id="txtModuloNombre" name="txtModuloNombre" placeholder="Nombre del Modulo" data-bind="value: modulos.ModNombre">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="txtModuloNumHoras"># Horas</label>
                                <input type="text" class="form-control" id="txtModuloNumHoras" name="txtModuloNumHoras" placeholder="Horas" data-bind="value: modulos.ModNumHoras">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="txtModuloNumMeses"># Meses</label>
                                <input type="text" class="form-control" id="txtModuloNumMeses" name="txtModuloNumMeses" placeholder="Meses" data-bind="value: modulos.ModNumMes">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="txtModuloNumCursos"># Cursos</label>
                                <input type="text" class="form-control" id="txtModuloNumCursos" name="txtModuloNumCursos" placeholder="Cursos" data-bind="value: modulos.ModNumCursos">
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-success pull-right" data-bind='click:  function () { guardarModulo() }'>Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">Cursos del Modulo</div>
                <div class="panel-body">

                    <div id="CursoList" class="row noSideMarginInRow">
                        <div class="col-lg-12">
                            <div class="bootstrapDataGrid">
                                <div class="row bootstrapDataGridHeader cursoGridHeader marginBottomp5px">
                                    @*<div class="col-lg-2 col-md-2"><span>Codigo</span></div>*@
                                    <div class="col-lg-6 col-md-6"><span>Nombre del Curso</span></div>
                                    <div class="col-lg-2 col-md-2"><span># Horas</span></div>
                                    <div class="col-lg-2 col-md-2"><span>Precio</span></div>
                                    <div class="col-lg-2 col-md-2"><span></span></div>
                                </div>
                                <div data-bind="foreach: cursos">
                                    <div class="bootstrapDataGridData">
                                        <div class="row paddingBottom5px paddingTop5px">
                                            @*<div class="col-lg-2 col-md-2 noPaddingInColumn"><input class='form-control required' data-bind='value: CurId, uniqueName: true' /></div>*@

                                            <div class="col-lg-6 col-md-6"><input id="txtCurName" class='form-control txtCurName required' data-bind='value: CurName, uniqueName: true' /></div>
                                            <div class="col-lg-2 col-md-2"><input id="txtCurNumHoras" class='form-control required' data-bind='value: CurNumHoras, uniqueName: true' /></div>
                                            <div class="col-lg-2 col-md-2"><input id="txtCurPrecio" class='form-control required' data-bind='value: CurPrecio, uniqueName: true' /></div>
                                            <div class="col-lg-2 col-md-2 noPaddingInColumn">
                                                <div class="opcionesButtomGroup">
                                                    <a class="btn btn-md btn-default fa fa-trash-o dangerColor pull-right" data-bind='click: $root.removeCurso'></a>
                                                    <a class="btn btn-md btn-default fa fa-floppy-o infoColor pull-right"></a>
                                                    <a class="btn btn-md btn-default fa fa-pencil-square-o warningColor pull-right"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-lg-6 col-md-6"><input id="nameCurso" name="nameCurso" class='form-control required' /></div>*@

                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-default pull-left" onclick="addCurso()">Agregar Curso</button>
                            <button class="btn btn-success pull-right" data-bind='enable: cursos().length > 0' type='submit'>Guardar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<script src="@Url.Content("/Scripts/Siga/ModuloCurso/modulocurso.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/Siga/ModuloCurso/modulocursoDTO.js")" type="text/javascript"></script>

<script>

    $(document).ready(function () {

        var mcVM = new modulocursoViewModel();
        ko.applyBindings(mcVM, $('#ModuloCursoCreateEditContainer')[0]);

        $(".txtCurName").autocomplete({
            minlength: 3,
            source: function (request, response) {
                var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                $.ajax({
                    url: "/api/CursoSearch?search=",
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (c, i) {
                            var text = c.CurName;
                            var index = i;
                            var cursosFound = c;
                            if (text && (!request.term || matcher.test(text))) {
                                return {
                                    label: c.CurName,
                                    value: c.CurName,
                                    CurName: c.CurName,
                                    CurId: c.CurId,
                                    CurNumHoras: c.CurNumHoras,
                                    CurPrecio: c.CurPrecio,
                                    index: index,
                                    cursosFound: c
                                };
                            }
                        }));
                    }
                });
            },
            select: function (event, ui) {
                var search = ui.item.CurName;
                $.ajax({
                    url: '/api/CursoSearch?search=' + search,
                    dataType: "json",
                    success: function (data) {
                        var curso = $.map(data, function (item) { return new Curso(item) });
                        mcVM.cursos(curso);
                    }
                });

                mcVM.lastPushedCursoName(ui.item.CurName);
            }
        });
        
    });

</script>
