.noSideMarginInRow{
    margin:0 !important;
}

.noPaddingInRow{
    padding:0 !important;
}

.noPaddingInColumn{
    padding:0 !important;
}

.alignDataWithButton{
    position:relative;
    top:7px;
}

.marginTop5px{
    margin-top:5px;
}

.marginTop10px{
    margin-top:10px;
}

.marginBottomp5px{
    margin-bottom:5px
}

.marginBottomp10px{
    margin-bottom:10px
}

.paddingTop5px{
    padding-top:5px;
}

.paddingBottom5px{
    padding-bottom:5px
}

.dangerColor{
    color: #d9534f;
}

.noPadding{
    padding:0px;
}

.noPaddingTop{
    padding-top:0px;
}

.noPaddingBottom{
    padding-bottom:0px;
}

.noPaddingLeft{
    padding-left:0px;
}

.noPaddingRight{
    padding-right:0px;
}

.noMargin{
    margin:0px;
}

.noMarginTop{
    margin-top:0px;
}

.noMarginBottom{
    margin-bottom:0px;
}

.noMarginLeft{
    margin-left:0px;
}

.noMarginRight{
    margin-right:0px;
}

.dangerColor:hover{
    color: #fff;
    background-color: #d9534f;
    border-color:#d9534f;
}

.infoColor{
    color: #5bc0de;
}

.infoColor:hover{
    color: #fff;
    background-color: #5bc0de;
    border-color:#5bc0de;
}

.warningColor{
    color: #f0ad4e;
}

.warningColor:hover{
    color: #fff;
    background-color: #f0ad4e;
    border-color:#f0ad4e;
}