@*@model SIGA.Models.ViewModels.UsuarioViewModel*@
@model SIGA_Model.StoredProcContexts.UsuarioInfoCollection

<div id="UsuarioContainer">

    <div class="row viewTitle">
        <div class="col-lg-6 pull-left">
            <h1 class="noMarginTop">Usuarios</h1>
        </div>
        <div class="col-lg-6 pull-right">
            <button id="btnNewUsuario" type="button" class="btn btn-success pull-right" data-bind="click: LoadCreateViewForUsuario"><i class="fa fa-plus"></i> Crear Usuario</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body filtrosContainer">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-3  col-md-3">
                            <div class="form-group">
                                <label for="txtPrimerNombre">Nombre</label>
                                <input type="text" class="form-control" id="txtPrimerNombre" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label for="txtApellidoPaterno">Paterno</label>
                                <input type="text" class="form-control" id="txtApellidoPaterno" placeholder="Apellido Paterno">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label for="txtEmail">Correo</label>
                                <input type="text" class="form-control" id="txtEmail" placeholder="Correo Electronico">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label for="cboTipoUsuario">Usuario</label>
                                <select class="form-control" id="cboTipoUsuario">
                                    <option>Todos</option>
                                    <option>Alumno</option>
                                    <option>Profesor</option>
                                    <option>Administrador</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 hidden-md text-right">
                    <div class="form-group">
                        <label for="btnAction">&nbsp;</label>
                        <div id="btnAction">
                            <button id="btnSearch" type="button" data-bind="click: searchUsuario" class="btn btn-primary"><i class="fa fa-search "></i> Buscar</button>
                            <button id="btnReset" type="button" data-bind="click: resetFilters" class="btn btn-primary">Limpiar Filtros</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 visible-md  text-left">
                    <div class="form-group">
                        <label for="btnAction">&nbsp;</label>
                        <div id="btnAction">
                            <button id="btnSearch" type="button" data-bind="click: searchUsuario" class="btn btn-primary"><i class="fa fa-search "></i> Buscar</button>
                            <button id="btnReset" type="button" data-bind="click: resetFilters" class="btn btn-primary">Limpiar Filtros</button>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Datos del Usuario</div>
        <div class="panel-body dataContainer">
            <div class="row noSideMarginInRow">
                <div class="usuarioSubContainer" id="usuarioSubContainer">
                    @Html.Partial("UsuarioListPartialView", Model)
                </div>
            </div>
        </div>
        <div class="panel-footer">Agregar paginacion</div>
    </div>
</div>
      

<script src="~/Scripts/Siga/Usuario/usuario.js"></script>

<script>

    $(document).ready(function () {

        ko.applyBindings(usuarioVM, $('#UsuarioContainer')[0]);

        $("#txtPrimerNombre").keypress(function (e) {
            if (e.which == 13) {
                searchUsuario();
            }
        });

        $("#txtApellidoPaterno").keypress(function (e) {
            if (e.which == 13) {
                searchUsuario();
            }
        });

        $("#txtEmail").keypress(function (e) {
            if (e.which == 13) {
                searchUsuario();
            }
        });

        $("#cboTipoUsuario").keypress(function (e) {
            if (e.which == 13) {
                searchUsuario();
            }
        });
    });

</script>

